<settings>
   <!--<setting id="action" type="enum" lvalues="30015|30016|30017" label="30012" default="0"/>
   <setting id="comedy" type="enum" lvalues="30015|30016|30017" label="30013" default="0"/>
   <setting id="other" type="enum" lvalues="30015|30016|30017" label="30014" default="0"/> -->
</settings>
