<settings>
	<!-- General -->
	<category label="30002">
		<setting type="sep" />
		<setting id="login_name" type="text" label="30000" default=""/>
		<setting id="login_pass" type="text" label="30001" enable="!eq(-1,)" option="hidden" default=""/>
		<setting type="sep" />
		<setting id="bitrate" type="enum" lvalues="30005|30006|30007|30008|30009|30010|30011" label="30004" default="1"/>
		<setting type="sep" />
	</category>
</settings>
