<settings>
	<!-- User Info -->
	<category label="30021">
	   <setting type="sep" />
	   <setting id="getnewtoken" type ="bool" label="30024" default="true"/>
	   <setting id="login_name" type="text" label="30000" default=""/>
	   <setting id="login_pass" type="text" label="30001" enable="!eq(-1,)" option="hidden" default=""/>
	   <setting type="sep" />
	   <setting id="latitude" type="text" label="30018" default="Lookup by IP"/>
	   <setting id="longitude" type="text" label="30019" default="Lookup by IP"/>
	   <setting id="radius" type="enum" label="30020" values="100|200|300|400|500" default="2"/>
	   <setting type="sep" />
	</category>
	<!-- View Settings -->
	<category label="30022">
	   <setting type="sep" />
	   <setting id="perpage" type="enum" label="30016" values="25|50|75|100|125|150|175|200" default="3"/>
	   <setting id="viewenable" type ="bool" label="30050" default="true"/>
	   <setting id="defaultview" type="enum" lvalues="30053|30051|30052" label="30058" default="2"/>
	   <setting type="sep" />
	</category>
	<!-- Streaming -->
	<category label="30023">
	   <setting type="sep" />
	   <setting id='lyricsubs' type ="bool" label="30025" default="false" />
	   <setting id='defaultyoutube' type ="bool" label="30017" default="false" />
	   <setting type="sep" />
	   <setting id="bitrate" type="enum" lvalues="30005|30006|30007|30008|30009|30010|30011|30012" label="30004" default="7" enable="!eq(-2,true)"/>
	   <setting type="sep" />
	   <setting id='unpause' type ="bool" label="30014" default="true" enable="!eq(-4,true)"/>
	   <setting id="unpausetime" type="enum" label="30015" values="1|2|3|4|5|6|7|8|9|10" default="4" enable="!eq(-5,true)"/>
	   <setting type="sep" />
	   <setting id='enabled-cache' type ="bool" label="30026" default="false" enable="!eq(-7,true)"/>
	   <setting id="cache-folder" type="folder" label="30027" default="" enable="!eq(-8,true)"/>
	   <setting type="sep" />
	</category>
</settings>
