<settings>
	<!-- General -->
	<category label="30011">
		<setting type="sep" />
		<setting id="login_name" type="text" label="30000" default=""/>
		<setting id="login_pass" type="text" label="30001" enable="!eq(-1,)" option="hidden" default=""/>
		<setting type="sep" />
		<setting id="bitrate" type="enum" lvalues="30005|30006|30007|30008|30009|30010" label="30004" default="1"/>
		<setting type="sep" />
	</category>
	<!-- Library -->
	<category label="30012">
		<setting type="sep" />
		<setting id="enablelibrary" type ="bool" label="30013" default="true"/>
		<setting id="enablelibrarymeta" type ="bool" label="30014" default="true"/>
		<setting type="sep" />
	</category>
	<!-- Metadata -->
	<category label="30015">
		<setting type="sep" />
		<setting id="movieart" type="enum" lvalues="30020|30021|30022" label="30016" default="0"/>
		<setting id="tvart" type="enum" lvalues="30018|30019|30022" label="30017" default="0"/>
		<setting type="sep" />
	</category>
</settings>
